
<div class="show-title">
 <h1><%= @property.name %></h1>
</div>
<div class="listing">
 <%= image_tag('room-image', class: 'show-image') %>
 <div class="property-elements">
  <div class="property-address">
    <%= @property.address %>
  </div>
  <div class="property-city">
  <%= @property.city %>
  </div>

  <%= @property.rooms %>
  <%= @property.beds %>
</div>
</div>
<%= render 'bookings/form', property: @property, booking: @booking %>
