
<div class="show-title">
 <h1><%= @property.name %></h1>
</div>
<div class="listing">
 <%= image_tag('room-image', class: 'show-image') %>
 <div class="property-elements">
  <div class="morestuff">
  <div class="property-address">
    <%= @property.address %>
  </div>
  <div class="property-city">
  <%= @property.city %>
  </div>
  </div>

  <p class='rooms'>rooms <%= @property.rooms %></p>
  <p class='beds'>beds <%= @property.beds %></p>
  <p class="description"> <%= @property.description %> </p>
</div>
</div>
<%= render 'bookings/form', property: @property, booking: @booking %>

<% if @property.user = current_user %>
  <%= link_to 'edit property', edit_property_path(@property) %>
<% end %>
